In [1]:
#------------------------------------------------------------------------------------------------------------
#------------------------------------------PASOS PARA TRATAR DATA--------------------------------------------
#------------------------------------------------------------------------------------------------------------
#
#Leemos el fichero según su tipo
#
#... Pendiente completar esto con el ejemplo de clase del 17/08 
#
#Leemos las columnas en busca de valores nulos y sumamos para saber cuantos valores nulos hay en cada columna
#
#Si hay una muestra muy alta de nulos vs el total de elementos de la fila, los eliminamos 
###Por ej. todos los que tienen más de 1e4 (10.000) elementos nulos con columnas con 13k elementos totales
#
#De las columnas que quedan con pocos elementos nulos, hay que buscar completar estas columnas
###Para ello hay que entender que dato falta o por qué para poder sustituir esos elementos nulos por algo 
###que tenga sentido. Podemos usar iloc para mostrar los datos donde quedaron valores nulos.
#
#... Pendiente detección y gestión de outliers
#... Pendiente incluir término de IQR y cortar por index en base a este valor

In [ ]:
#------------------------------------------------------------------------------------------------------------
#---------------------------------------------------NOTAS----------------------------------------------------
#------------------------------------------------------------------------------------------------------------
#NaN es tipo float a pesar de ser "NotANumber" y en una columna donde el resto de valores son type "O" (Object) 
#nos interesa sustituir los "NaN" con la función:
#  df."nombre_sin_comillas_de_columna".fillna("string_de_sustituciñon", inplace = True #Para sobreescribir)
#------------------------------------------------------------------------------------------------------------
#.at es otra forma de hacer una selección de un dataFrame
#------------------------------------------------------------------------------------------------------------